#Resource Pack Build Config

#Directories
source_dir: "SmoothOperator"
mappings_dir: 'Version_Mappings'
output_dir: "Pack_Builds"
log_output_dir: "Pack_Builds/_logs"
tempfile_dir: "Pack_Builds/_temp"

#Files
pack_config_file: 'SmoothOperator/pack.config'
version_mappings_file: 'Version_Mappings/version_mappings.json'
source_mapping_file: 'SmoothOperator/source_mapping.json'